{% extends "base.jinja2" %}
{% block content %}
  {% for post in posts.items %}
    <div class="post border rounded p-3 mb-3">
      <div class="post-card d-flex align-items-center flex-row  mb-3">
        <img src="{{ url_for('static', filename = 'profile_pics/' + post.author.profile_picture)}}"
             class="img-fluid rounded-circle me-4 "
             alt="profile pic">
        <div>
          <div class="card-text">
            <p class="mb-0">
              <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            </p>
            <small ><a class="text-muted"
   href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.date.strftime("%Y-%d-%m, %H:%M") }}</a></small>
          </div>
        </div>
      </div>
      <h5 class="card-title mb-2">
        <a class="link-dark" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
      </h5>
      <p>{{ post.content }}</p>
    </div>
  {% endfor %}
  <div class="mb-5">
    {% for page_number in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
      {% if page_number %}
        {% if page_number == posts.page %}
          <a class="btn btn-primary"
             href="{{ url_for('main.home', page=page_number) }}">{{ page_number }}</a>
        {% else %}
          <a class="btn btn-outline-primary"
             href="{{ url_for('main.home', page=page_number) }}">{{ page_number }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
