{% extends 'base.jinja2' %}
{% block content %}
  <div class="content-section col-12 col-md-6 col-lg-4">
    <form action="" method="post">
      {{ form.hidden_tag()}}
      <fieldset class="from-group">
        <legend>
          Reset Password
        </legend>
        <div class='mb-3'>
          {{ form.password.label(class='form-label')}}
          {% if form.password.errors %}
            {{ form.password(class='form-control')}}
            <div class='invalid-feedback d-block'>
              {% for error in form.password.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
          {% else %}
            {{ form.password(class='form-control')}}
          {% endif %}
        </div>
        <div class='mb-3'>
          {{ form.confirm_password.label(class='form-label')}}
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class='form-control')}}
            <div class='invalid-feedback d-block'>
              {% for error in form.confirm_password.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
          {% else %}
            {{ form.confirm_password(class='form-control')}}
          {% endif %}
        </div>
      </fieldset>
      <div class='mb-3'>{{ form.submit(class='btn btn-primary')}}</div>
    </form>
  </div>
{% endblock content %}
