nav {
  background-color: #3f51b5;
}

nav * {
  color: white !important;
}

.account-card img {
  width: 140px;
  height: 140px;
}
.post-card img {
  width: 50px;
  height: 50px;
}

.submit-new-post,
.submit-update-post {
  min-height: 250px !important;
}
